body {
  padding-top: 20px;
  /*background-color: #e9eaed;*/
  color: #141823;
  font-size: 14px;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  overflow: scroll;
}
.divider-vertical {
    height: 20px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

/* fb-nav */
.fb-nav {
    text-align: center;
}
.fb-nav a {
    font-weight: bold;
    font-size: 13px;
}
.fb-nav a:hover {
    text-decoration: none;
}
.fb-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fb-nav li {
    display: inline;
}
.active {
    color: #333;
}
input, textarea, select, .uneditable-input {
    width: 460px;
    height: auto;
    font-size: 14px;
    border-radius: 2px;
}
label,
.help-inline,
.btn {
    font-size: 12px;
}
p {
    font-size: 14px;
}
.middle-center {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.panel-default > .panel-heading {
    background-color: white;
    border-color: white;
}
.panel-heading-grid-image {
    width: 40px;
    float: left;
}
.panel-heading-grid-title {
    padding-left: 10px;
    float: left;
}
.panel-heading-grid-arrow {
    width: 20px;
    float: right;
    margin-right: 15px
}
.panel-image {
    width: 40px;
    height: 40px;
}
.container.canvas .row {
  zoom: 1;
  margin-left: -5px;
}
.image-place {
    width: 475px;
    height: 356px;
}
.margin-bottom {
    margin-bottom: 14px;
}
.product-image-list {
  margin-left: -25px;
}
.product-image-right {
    float: right;
    margin-right: -15px;
    position: relative;
    top: 50%;
    font-size: 18px;
}
.card-creator {
    color: grey;
    font-style: italic;
}
.list-group-item {
    line-height: 30px;
}