body {
  padding-top: 20px;
  /*background-color: #e9eaed;*/
  color: #141823;
  font-size: 14px;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  overflow: scroll;
}
.divider-vertical {
    height: 20px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

/* fb-nav */
.fb-nav {
    text-align: center;
}
.fb-nav a {
    font-weight: bold;
    font-size: 13px;
}
.fb-nav a:hover {
    text-decoration: none;
}
.fb-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fb-nav li {
    display: inline;
}
.active {
    color: #333;
}
input, textarea, select, .uneditable-input {
    width: 460px;
    height: auto;
    font-size: 14px;
    border-radius: 2px;
}
label,
.help-inline,
.btn {
    font-size: 12px;
}
p {
    font-size: 14px;
}
.middle-center {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.panel-default > .panel-heading {
    background-color: white;
    border-color: white;
}
.panel-heading-grid-image {
    width: 40px;
    float: left;
}
.panel-heading-grid-title {
    padding-left: 10px;
    float: left;
}
.panel-heading-grid-arrow {
    width: 20px;
    float: right;
    margin-right: 15px
}
.panel-image {
    width: 40px;
    height: 40px;
}
.container.canvas .row {
  zoom: 1;
  margin-left: -5px;
}
.image-place {
    width: 475px;
    height: 356px;
}
.margin-bottom {
    margin-bottom: 14px;
}
.product-image-list {
  margin-left: -25px;
}
.product-image-right {
    float: right;
    margin-right: -15px;
    position: relative;
    top: 50%;
    font-size: 18px;
}
.card-creator {
    color: grey;
    font-style: italic;
}
.list-group-item {
    line-height: 30px;
}
.login-center {
    text-align: center;
}




/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.product-image-list ul[dnd-list],
.product-image-list ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.product-image-list ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.product-image-list ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.product-image-list ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.product-image-list ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.product-image-list ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}