<div class="middle-center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="panel-heading-grid-image">
                    <img class="panel-image img-responsive img-rounded" src="img/gift-big.png">
                </div>
                <div class="panel-heading-grid-title">
                    <p>
                        <a href="#" editable-text="card.name">{{ card.name || "Sin títuto" }}</a>
                    </p>
                    <p>
                        <div class="card-creator">
                            <span>{{ card.creator_name }} @ {{ card.modified_date | date:'medium' }}</span>
                        </div>
                    </p>
                </div>
                <div class="panel-heading-grid-arrow">
                    <div class="btn-group">
                        <button type="button" 
                                class="btn btn-link dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/">Cancelar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="product-link margin-bottom">
                <a href="#" editable-text="card.link">
                    {{ card.link || "Sin link" }}
                </a>
                <button class="btn btn-link" 
                        ng-click="fetch()" 
                        ng-show="isML()">
                    <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
                </button>
            </div>
            <div class="product-description margin-bottom">
                <a href="#" editable-textarea="card.description" e-rows="5" e-cols="40">
                    <pre>{{ card.description || 'Sin descripción' }}</pre>
                </a>
            </div>
            <div class="product-image margin-bottom">

                <img class="img-rounded img-responsive img-place"
                     src="img/placeholder.gif"
                     ng-hide="!!card.images.length">

                <div ng-show="!!card.images.length">
                    <carousel>
                        <slide ng-repeat="image in card.images">
                            <img class="img-rounded img-responsive img-place"
                                 ng-src="{{ image.url }}" style="margin:auto;">
                        </slide>
                    </carousel>
                </div>

            </div>

            <div class="margin-bottom product-image-list">
                <ul class="list-group" dnd-list="card.images">
                    <li ng-repeat="image in card.images"
                        dnd-draggable="image"
                        dnd-moved="card.images.splice($index, 1)"
                        dnd-effect-allowed="move"
                        class="list-group-item"
                        >

                        <button class="btn btn-link" 
                                ng-click="removeImage(image)">
                            <i class="glyphicon glyphicon-remove-sign" aria-hidden="true"></i>
                        </button>
                        <a href="#" editable-text="image.url">{{ image.url || "Sin títuto" }}</a>

                    </li>

                    <li class="list-group-item">
                        <a href="#" editable-text="newImage">
                            {{ newImage || "Nueva imagen" }}
                        </a>
                        <button class="btn btn-link product-image-right" 
                                ng-click="addImage()" 
                                ng-show="newImage">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>


                    </li>
                </ul>

            </div>

            <div class="card-price margin-bottom">
                <a href="#" editable-text="card.price">
                    {{ card.price || "Sin precio" }}
                </a>
            </div>

            <div class="card-expires margin-bottom">
                <a href="#" editable-checkbox="card.expires" e-title="Expira?">
                    {{ card.expires && "Expira" || "No expira" }}
                </a>
            </div>

        </div>

        <div class="panel-footer">
            <a href="#/" class="fbtn">Cancelar</a>
            <button ng-click="save()" class="fbtn primary" ng-disabled="card.$id">
                Guardar
            </button>
            <button ng-click="destroy()" ng-show="card.$id" class="fbtn fbtn-danger">Borrar</button>

        </div>
    </div>
</div>