<div class="middle-center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="panel-heading-grid-image">
                    <img class="panel-image img-responsive img-rounded" src="img/gift-big.png">
                </div>
                <div class="panel-heading-grid-title">
                    <p>
                        <a href="#" editable-text="user.name">{{ user.name || "Sin títuto" }}</a>
                    </p>
                    <p>
                        <a href="#" editable-text="user.lastname">{{ user.lastname || "Sin link" }}</a>
                    </p>
                </div>
                <div class="panel-heading-grid-arrow">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="product-description margin-bottom">
                <a href="#" editable-textarea="user.desc" e-rows="5" e-cols="40">
                    <pre>{{ user.desc || 'Sin descripción' }}</pre>
                </a>
            </div>
            <div class="product-image margin-bottom">
                <img class="img-rounded img-responsive img-place"
                     src="http://placehold.it/470x350&text=tinderGift">
            </div>

            <div class="margin-bottom product-image-list">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge">0</span>
                        Morbi leo risus
                    </li>
                </ul>
            </div>
            <a href="https://vitalets.github.io/angular-xeditable/">
                https://vitalets.github.io/angular-xeditable/
            </a>
            <form name="myForm">

                <fieldset>

                    <div class="clearfix">
                        <label for="link">Link</label>
                        <div class="input">
                            <input name="link" ng-model="card.link" ng-change="checkML()">
                            <button ng-click="fetch()" ng-show="isMercadoLibre" class="fbtn primary">
                                Traer información
                            </button>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="thumbnail">Thumbnail</label>
                        <div class="input">
                            <input name="thumbnail" ng-model="card.thumbnail">
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="name">Nombre</label>
                        <div class="input">
                            <input type="text" name="name" ng-model="card.name">
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="image">Imagenes</label>
                        <div class="input">
                            <input name="image" ng-model="card.image">
                            <button ng-click="addImage()" class="fbtn primary" ng-disabled="!card.image">
                                Agregar
                            </button>
                        </div>
                        <div class="input">
                            <ul>
                                <li ng-repeat="image in card.images">
                                    <a ng-click="removeImage(image)">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                    </a>
                                    <span>{{ image }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="description">Descripción</label>
                        <div class="input">
                            <textarea name="description" ng-model="card.description" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="price">Precio</label>
                        <div class="input">
                            <input type="text" name="price" ng-model="card.price">
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="last_modified">Última modificación</label>
                        <div class="input">
                            <input type="date" name="last_modified" ng-model="card.last_modified" disabled>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="expires">Expira</label>
                        <div class="input">
                            <input type="date" name="expires" ng-model="card.expires" disabled>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="approved">Aprobado</label>
                        <div class="input">
                            <input type="checkbox" name="approved" ng-model="card.approved" disabled>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="campaign">Campaña</label>
                        <div class="input">
                            <input type="text" name="campaign" ng-model="card.campaign">
                        </div>
                    </div>

                    <div class="clearfix">
                        <label for="creator">Creador</label>
                        <div class="input">
                            <input type="text" name="creator" ng-model="card.creator" disabled>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="input">
                            <a href="#/" class="fbtn">Cancelar</a>
                            <button ng-click="save()" class="fbtn primary" ng-disabled="card.$id">
                                Guardar
                            </button>
                            <button ng-click="destroy()"
                                    ng-show="card.$id" class="fbtn fbtn-danger">Borrar</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>